* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

body {
  display: inline-flex;
  padding: 144px 193px 178px 193px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h2 {
    font-family: Red Hat Display;
    background-color: transparent;
    color: white;
}

p {
    color:white;
    background-color:transparent;
    font-family: Red Hat Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 32px */
}

.card-one {
    display: flex;
    width: 298px;
    padding: 56px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
    border-radius: 12px 0px 0px 12px;
    background: #E28525;
}

.card-two {
    display: flex;
    width: 298px;
    padding: 56px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
    background: #016972;
}

.card-three {
    display: flex;
    width: 298px;
    padding: 56px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
    border-radius: 0px 12px 12px 0px;
    background: #00403F;
}

.card-holder{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

button {
    font-family: red hat display;
    font-weight: 700;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: #FFF;
    border-color: transparent;
}

/* The desktop-first pre-defined media queries: */
/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {
    body {
        display: inline-flex;
        padding: 87.5px 38.5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-one {
        border-radius: 12px 12px 0px 0px;
    }

    .card-three {
        border-radius: 0px 0px 12px 12px;
    }

}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {
  body {
    margin-left: 24px;
    margin-right: 24px;
  }

}

/* xs */
@media (max-width: 375px) {
  body {
    flex-direction: column;
  }
 
}

